volumes:
  data:

services:
  postgres:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgrespw
      - POSTGRES_USER=postgres
      - POSTGRES_DB=smuljo
    volumes:
      - data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-d", "smuljo" ]
      interval: 10s
      timeout: 10s
      retries: 3
  
  dbmigrator:
    image: dbmigrator
    build:
      context: .
      dockerfile: backend/DbMigrator/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Username=postgres;Password=postgrespw;Database=smuljo
    depends_on:
      postgres:
        condition: service_healthy

  webapi:
    image: webapi
    build:
      context: .
      dockerfile: backend/WebApi/Dockerfile
    ports:
      - 5000:80
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Username=postgres;Password=postgrespw;Database=smuljo
    depends_on:
      dbmigrator:
        condition: service_completed_successfully
        
  frontend:
    image: frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - 5001:80
    depends_on:
      webapi:
        condition: service_started      